<div class="container mt-5 bg pt-3">
  <div class="row">
    <div class="col-md-12">
      <section class="border">

        <h1 class="ms-4 mt-4 fs-1 mb-5">Découvrez tous nos voyages</h1>

        <div *ngIf="isLoading" class="spinner-border" role="status">

        </div>

        <div class="container-fluid mb-5 ms-3">
          <div class="row">
            <ng-container *ngIf="!isLoading">

              <div class="card flex ms-2 mt-2" *ngFor="let voyage of voyages">
                <div>
                  <img class="card-img-top mt-2" src="{{ voyage?.mainPicture?.src}}"
                    alt="Photo de la destination {{ voyage?.mainPicture?.alt }}">
                </div>
                <div class="card-body">
                  <h5 class="card-title fs-4 text-center">{{ voyage.destination }}</h5>
                  <p class="fs-6 ">Voyage à la {{voyage.type}}</p>
                  <a [routerLink]="['',voyage.id]" class="btn btn-outline-secondary fst-italic">En savoir +</a>
                </div>
              </div>

            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>